{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Application{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="text-center">University Application</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Submit Application</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}